$White: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(219, 100%, 95%);

$primary-font:'Outfit', sans-serif;


$lg-screen:53em; // 805
$md-screen:38em; //575



*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 60%;
  @media only screen and (min-width:$md-screen) {
    font-size: 50%;
  }
}

body{
  font-family: $primary-font;
  background-color: $dark-blue;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
}

.container{
  @media only screen and (min-width:$md-screen) {
    height: auto;
    width: 250px;
  }
  background-color: $White;
  height: auto;
  padding: 2rem;
  border-radius: 20px;
  box-shadow:0 0.5rem 1rem rgba(0 , 0, 0, 0.4) ;
  display: flex;
  flex-direction: column;
  
  img{
    @media only screen and (min-width:$md-screen) {
      width: 100%;
      background-position: center;
    }
    width: 100%;
    height: auto;
    border-radius: 10px;

  }
  .container__content{
    margin: 0 1rem;


  }
  .container__content-title{
    @media only screen and (min-width:$md-screen) {
      font-size: 2.2rem;
      
    }
    font-size: 2.5rem;
    font-family: $primary-font;
    font-weight: 700;
    margin: 2rem 0; 
    text-align: center;
  }
  .container__content-p{
    @media only screen and (min-width:$md-screen) {
      font-size: 1.5rem;
     
    }
    font-size: 1.8rem;
    font-family: $primary-font;
    font-weight: 400;
    opacity: .8;
    text-align: center;
  }
}